{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <!-- TDK and ICO -->
    {% block title %}{% endblock %}

    <meta name="description" content="用户账号管理。">
    <meta name="keywords" content="django-allauth,社交用户系统,OAuth 2.0">


    <!-- Bootstrap and font-awesome CSS -->
	<link href="{% static '/img/favicon.ico' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" type='text/css'>
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static '/img/favicon.png' %}" rel="icon">

</head>
<body>

<!--主要内容块-->
{% block main %}
{% endblock %}




  <script src="{% static '/lib/jquery/jquery.js' %}"></script>
  <script src="{% static '/lib/jquery/jquery.form.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
{% block script_extends %}
{% endblock %}
</body>
</html>