{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin">
    <!-- TDK and ICO -->
    {% block title %}{% endblock %}

    <meta name="description" content="用户账号管理，使用django-allauth社交用户系统，支持微博、Github等社交账号登录，加入TendCode，查看更多信息。">
    <meta name="keywords" content="django-allauth,社交用户系统,OAuth 2.0">


    <!-- Bootstrap and font-awesome CSS -->
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" type='text/css'>
    <link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static '/img/favicon.png' %}" rel="icon">

</head>
<body>

<!--主要内容块-->
{% block main %}
{% endblock %}


<footer class="container-fluid mt-4">
    <div class="card-body text-center px-0 f-16">
        <p class="card-text mb-1">Copyright<span id="year-info"></span>
        </p>
        <p class="mb-0">
        </p>
        <!--站长统计-->
        <div>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1276375952'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1276375952%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <!--站长统计结束-->
    </div>
</footer>

  <script src="{% static '/lib/jquery/jquery.js' %}"></script>
  <script src="{% static '/lib/jquery/jquery.form.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
{% block script_extends %}
{% endblock %}
</body>
</html>