{% extends 'account/base.html' %}

{% block title %}
<title>忘记密码</title>
{% endblock %}
<!--主要内容块-->
{% block main %}
<main>
    <div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3 px-xl-5">
            <div class="card rounded-0 px-3 px-lg-4">
                <div class="card-header text-center bg-white py-2">
                    <h3 class="my-1 text-info">忘记密码</h3>
                </div>
                <div class="card-body card-login">
                    <form class="signup" id="signup_form" method="post" action="{% url 'ouser:forgot_password' %}">
                        <div id="div_id_email" class="form-group">
                            <label for="id_email" class="form-control-label  requiredField">E-mail
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="email" name="email" value="{{ email }}" placeholder="E-mail地址" autofocus="autofocus" class="textinput textInput form-control" required id="id_email" />
                                <p id="error_1_id_email" class="help-block">
                                    <strong>
                                            {% if email_error == 'notexit' %}此邮箱未被绑定
                                            {% elif email_error == 'format' %}请输入的有效邮箱地址
                                            {% endif %}
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div id="div_id_password1" class="form-group has-danger">
                            <label for="id_password1" class="form-control-label  requiredField">
                                        密码<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="password" name="password" value="{{ pwd }}" placeholder="密码" class="textinput textInput form-control form-control-danger" required id="id_password1" />
                                <p id="error_1_id_password1" class="help-block">
                                    <strong>{% if pwd_error == 'nums_alpha' %}密码不能使用纯数字
                                            {% elif pwd_error == 'length' %}密码限制8~20个字符
                                            {% endif %}
                                    </strong>
                                </p>
                            </div>
                        </div>

						<div id="div_id_ver" class="form-group">
                            <label for="id_ver" class="form-control-label  requiredField">
                                        验证码<span class="asteriskField">*</span>
                            </label>
                            <div class="">
                                <input type="text" name="ver" placeholder="验证码(请注意大小写！)" class="textinput textInput form-control" required id="id_ver" />
                                <p id="error_1_id_password2" class="help-block">
                                    <strong>{% if ver_error == 'error' %}验证码错误{% endif %}</strong>
                                </p>
                            </div>
                        </div>
                            <input type="hidden" name="next" value="{{ next_to }}"/>
                            
							<button id="send_ver" class="pull-left btn btn-info btn-sm rounded-0">发送验证码</button>		     

							<button class="pull-right btn btn-info btn-sm rounded-0" type="submit">重置密码</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $("#send_ver").click(function(){
            var email = $("#id_email").val();
            if(email==""){
                $("#tip").text('* 邮箱不能为空');
                return false;
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'ouser:forgot_ver' %}",
                type: "POST",
                data: {
                    'email': email
                },
                cache: false,
                success: function(data){
                    if(data['status']=='ERROR'){
                        alert(data['message']);    
                    }                    
                }
            });

            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>

{% endblock %}