{%load static%}
{%load app01_tags%}
{% load notifications_tags %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%block head_title%}JC论客{%endblock%}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.ico' %}" rel="icon">
  <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static '/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static '/lib/flat-ui/css/flat-ui.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static '/css/style.css' %}" rel="stylesheet">


</head>

<body>

      <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
				{% block content %}
				<h1 class="main-title">JC论客</span></h1>
				<p class="main-tagline-0">
          Create , Record & Share<br><br></p>
				{%endblock%}

      </div>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{%url 'app01:index'%}" >主页</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

			{%get_bigcategory_list as bigcategory%}
			{%for big in bigcategory%}
          <li class="dropdown">
            <a href="{%url 'app01:category' big.name%}" class="dropdown-toggle" data-toggle="dropdown">{{big.name}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
			{% get_category_list big.id as cate %}
			{% for c in cate%}
              <li><a href="{%url 'app01:category_detail' big.name c.name%}">{{c.name}}</a></li>
			{%endfor%}
            </ul>
          </li>
		  {%endfor%}
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<li>{% block write %} {% endblock %}</li>
			<li>
			  <form class="navbar-form search-form" action="{%url 'app01:search' %}">

				<div class="form-group">
				    <input type="text" name="search_content" class="form-control" placeholder="Search">
				</div>
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
			  </form>
			</li>
			
			{% if user.is_authenticated %}
			{% notifications_unread as unread_count %}
			<li><a href="{% url 'ouser:personal_page' %}">{{request.user.username}}&nbsp;&nbsp;<span class="badge live_notify_badge" style="background-color:#ac2925!important;margin-top:-0.2em">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</span></a></li>
			<li><a href="{% url 'ouser:logout' %}">注销</a></li>
			{%else%}
			<li><a href="{% url 'ouser:login' %}?next={{ request.get_full_path }}">登录</a></li>
			<li><a href="{% url 'ouser:register' %}">注册</a></li>
			{%endif%}
		</ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>




  <div id="copyrights">
    <div class="container">
	  <a href="/sitemap.xml" title="Sitemap" target="_blank">Sitemap</a>
	  &nbsp;|&nbsp;
      <a href="/feed/" rel="external nofollow" target="_blank" title="订阅本站">
			订阅本站</a>
	&nbsp;|&nbsp;
      <a href="http://www.beian.miit.gov.cn/"  target="_blank" title="备案号">
			苏ICP备20034216号-1</a>			
		&nbsp;|&nbsp;	
	<a href="#"  target="_blank" title="版权所有">
			Copyright©2020 jclunke.com 版权所有</a>	
      <div class="credits">
        Created with Good template by <a href="https://templatemag.com/" target="_blank">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/lib/php-mail-form/validate.js' %}"></script>
  <!-- mouse -->
  <script src="{% static 'lib/tweenlite/tweenlite.min.js' %}"></script>
  <script src="{% static 'lib/tweenlite/easepack.min.js' %}"></script>
  <script src="{% static 'lib/tweenlite/init.js' %}"></script>
  <script type="text/javascript">
        //自定义实时获取未读消息
        function my_special_notification_callback(data){
            unread_count = data['unread_count'];
            if (unread_count == 0) {
                unread_count = '';
            }
            $('.live_notify_badge').text(unread_count);
        }
  </script>
  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  	{% register_notify_callbacks callbacks='my_special_notification_callback' %}
  <!-- Template Main Javascript File -->
  <script src="{% static '/js/main.js' %}"></script>


</body>
</html>
