{% extends 'blog-test.html' %}
{% load static %}

{%block title%}个人主页|消息通知{%endblock%}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
			    <a class="btn btn-primary" href="{% url 'notifications:mark_all_as_read' %}?next={% url 'my_notifications:my_notifications' %}">全部标记成已读</a>
                <a class="btn btn-danger" href="{% url 'my_notifications:delete_read_notifications' %}">删除已读消息</a>
                <ul class="notifications" style="margin-top:2em;">
                    {% for notification in request.user.notifications.all %}
                        <li class="{% if not notification.unread %}read{% endif %}" style="margin-top:2em;font-size:150%">
                            [{{ notification.timesince }}之前] 
                            <a href="{% url 'my_notifications:my_notification' notification.pk%}">{{ notification.verb }}</a>
                        </li>
                    {% empty %}
                        <li>暂无消息</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{%endblock%}